@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Inter;
  line-height: 1.5;
  font-weight: 400;
}

.content {
  padding: 0 18px;
  font-size: medium;
  height: 0;
  overflow: hidden;
}

.active {
  display: block;
  transition: all 2s;
  height: 100%;
}

.animateHeight {
  background-color: #cecece;
}